.skills {
    width: 100px;
}

.skills .star {
    float: right;
}

.skills .star:after {
    content: '☆';
    display: block;
    height: 15px;
    width: 15px;
}

.skills .star:hover:after,
.skills .star.selected:after,
.skills .star:hover ~ .star:after,
.skills .star.selected ~ .star:after {
    color: #3ea5ce;
    cursor: pointer;
}

.course {
    width: 100px;
}

.course .star {
    float: right;
}

.course .star:after {
    content: '☆';
    display: block;
    height: 15px;
    width: 15px;
}

.course .star:hover:after,
.course .star.selected:after,
.course .star:hover ~ .star:after,
.course .star.selected ~ .star:after {
    color: #3ea5ce;
    cursor: pointer;
}