<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xblock-feedback-exit-label">Text for the save and quit button : </label><br>
        <input class="input setting-input" type="text" id="xblock-feedback-exit-label" value="{{ exit_label }}" required>
      </div>
      <span class="tip setting-help">Example: Save and exit.</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xblock-feedback-post-url">Target for POST url action : </label><br>
        <input class="label setting-input"  type="text" id="xblock-feedback-post-url" value="{{ post_url }}" required>
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xblock-feedback-max-score">Max Score (number of stars) : </label><br>
        <input class="label setting-input" type="number" min="3" max="10" step="1" id="xblock-feedback-max-score" value="{{ max_score }}" required>
      </div>
    </li>
    <li class="field comp-setting-entry  is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xblock-feedback-lock-when-voted">Lock the form when vote as been submited</label>
        <select class="input setting-input" id="xblock-feedback-lock-when-voted" name="xblock-feedback-lock-when-voted">
          <option value="True" {% if is_locked %}selected{% endif %}>True</option>
          <option value="False" {% if not is_locked %}selected{% endif %}>False</option>
        </select>
      </div>
    </li>
  </ul>
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">Save</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">Cancel</a>
      </li>
    </ul>
  </div>
</div>
