<div class="wrapper">
    <div class="feedback">
        <p>
            Bravo, vous &ecirc;tes arriv&eacute; &agrave; la fin de ce cours !
        </p>
        <!--TODO : Replace table for a better responsivity-->
        <table>
            <tr>
                <td>Evaluez votre comp&eacute;tence&nbsp; :</td>
                <td class="rating skills">&nbsp;&nbsp;
                    {% for i in stars %}
                        <span href="#{{ i }}" class="star {% if i <= skills_score %}selected{% endif %}" value="{{ i }}"></span>
                    {% endfor %}
                </td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr><tr>
            <tr>
                <td>Evaluez la qualit&eacute; du cours :</td>
                <td class="rating course">&nbsp;&nbsp;
                    {% for y in stars %}
                       <span href="#{{ y }}" class="star {% if y <= course_score %}selected{% endif %}" value="{{ y }}"></span>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <section class="action">
            <input  type="button" class="check" value="Retour au parcours"></input>
        </section>
    </div>
</div>
