<div class="wrapper">
    <div class="feedback">
        <p>
            F&eacute;licitation, vous &ecirc;tes arriv&eacute; &agrave; la fin de ce cours !
        </p>
        <!--TODO : Replace table for a better responsivity-->
        <form method="POST" action="{{ postUrl }}">
            <input type="hidden" name="course_id" value="{{ courseId }}" />
            <input type="hidden" name="user_id" value="{{ userId }}" />
            <input type="hidden" name="skills_score" value="{{ skillsScore }}" />
            <input type="hidden" name="course_score" value="{{ courseScore }}" />
            <input type="hidden" name="comment" value="{{ comment }}" />
            <input type="hidden" name="max_score" value="{{ maxScore }}" />
            <table>
                <tr>
                    <td>Evaluez votre comp&eacute;tence&nbsp; :</td>
                    <td>
                        <div class="rating skills">
                            {% for y in maxScoreRange %}
                                {% if y  > 0 %}<span id="skills{{ y }}" class="star {% if y  <= skillsScore %}selected{% endif %}" data-value="{{ y }}"></span>{% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr><td>&nbsp;</td><td></td></tr><tr>
                <tr>
                    <td>Evaluez la qualit&eacute; du cours :</td>
                    <td >
                        <div class="rating course">&nbsp;&nbsp;
                            {% for y in maxScoreRange %}
                                {% if y  > 0 %}<span id="course{{ y }}" class="star {% if y  <= courseScore %}selected{% endif %}" data-value="{{ y }}"></span>{% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
            <div class="comment-feedback" >
                <p>Vous pouvez commenter votre notation :</p>
                <textarea class="form-control" id="feedback-comment" rows="3"></textarea>
            </div>
            <div class="xblock-actions">
                <span class="action-item">
                    <button class="button action-primary back-to-parcours save-button"
                    type="submit">{{ exitLabel }}</button>
                </span>
            </div>
        </form>
    </div>
</div>
