<div class="wrapper">
    <div class="feedback">
        <!--TODO : Replace table for a better responsivity-->
        {% if isSubmited and lockedOption %}
            <div >
                {{ lockedIntroLabel }} <br />
                {{ lockedSkillsLabel }} {{ skillsScore }}/{{ maxScore }}<br />
                {{ lockedCourseLabel }} {{ courseScore }}/{{ maxScore }} <br />
                {{ lockedCommentLabel }} {{ comment }} <br />
                <div class="xblock-actions-when-locked">
                <input type="hidden" name="post_url" value="{{ postUrl }}" />
                <span class="action-item">
                    <button class="button action-primary back-to-parcours save-button
                    xblock-actions-when-locked-save-button">{{ lockedExitLabel }}</button>
                </span>
            </div>
            </div>
        {% else %}
        <p>
            {{ introLabel }}
        </p>
        <form id="xblock-feedback-form" method="POST" action="{{ postUrl }}">
            <input type="hidden" name="course_id" value="{{ courseId }}" />
            <input type="hidden" name="user_id" value="{{ userId }}" />
            <input type="hidden" name="skills_score" value="{{ skillsScore }}" />
            <input type="hidden" name="course_score" value="{{ courseScore }}" />
            <input type="hidden" name="comment" value="{{ comment }}" />
            <input type="hidden" name="max_score" value="{{ maxScore }}" />
            <div>
                <span style="display: inline-block; width: 210px">{{ skillsLabel }} :</span >
                <div class="rating skills" style="display: inline-block;" >
                    {% for y in maxScoreRange %}
                        {% if y  > 0 %}<span id="xblock-feedback-skills" class="star {% if y  <= skillsScore %}selected{% endif %}"
                        data-value="{{ y }}"></span>{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                <span style="display: inline-block; width: 210px">{{ courseLabel }} :</span>
                <div class="rating course" style="display: inline-block;" >
                    {% for y in maxScoreRange %}
                        {% if y  > 0 %}<span id="xblock-feedback-course" class="star {% if y  <= courseScore %}selected{% endif %}"
                        data-value="{{ y }}"></span>{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="comment-feedback hidden" >
                <p>{{ commentLabel }}</p>
                <textarea class="form-control" id="xblock-feedback-comment-ta" rows="3" >{{ comment }}</textarea>
            </div>
            <div class="xblock-actions">
                <span class="action-item">
                    <button class="button action-primary back-to-parcours save-button"
                    type="submit">{{ exitLabel }}</button>
                </span>
            </div>
        </form>
        {% endif %}
    </div>
</div>
